.vs/
Core.SimpleTemp.Repository/bin/
/Core.SimpleTemp.Entity/bin/Debug/netcoreapp2.1
Core.SimpleTemp.Mvc/wwwroot/lib/
Core.SimpleTemp.Mvc/bin/
Core.SimpleTemp.Service/bin/
Core.SimpleTemp.EntityFrameworkCore/Migrations/
Core.SimpleTemp.EntityFrameworkCore/bin/
Core.SimpleTemp.Mvc/appsettings.Production.json
Core.SimpleTemp.Domain/bin/
Core.SimpleTemp.Mvc/logs/
*.targets
*.props
*.cache
Core.SimpleTemp.Entity/obj/Debug/
Core.SimpleTemp.Mvc/obj/Debug/
Core.SimpleTemp.Repository/obj/Debug/
Core.SimpleTemp.Service/obj/Debug/
Core.SimpleTemp.EntityFrameworkCore/obj/Debug/
Core.SimpleTemp.Domain/obj/Debug/
Core.SimpleTemp.Domain/obj/
Core.SimpleTemp.EntityFrameworkCore/obj/
Core.SimpleTemp.Mvc/obj/
Core.SimpleTemp.Service/obj/
Core.SimpleTemp.Common/obj/
