@{
    ViewBag.CurrentMenu = "Department";
}
@model Core.SimpleTemp.Application.SysDepartmentDto

<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">组织机构</h3>
            </div>
            <div class="box-body">
                <div id="treeDiv" class="portlet-body">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div id="toolbar">
            <div class="">
                <form role="form" id="searchForm" class="form-inline">
                    <div class="form-group">
                        <label for="Name">组织机构名称&nbsp;&nbsp;</label>
                        <input type="text" asp-for="Name" class="form-control" data-filter="true" data-action="in" value="" />
                    </div>
                    &nbsp;&nbsp;
                    <button id="btnScreen" type="button" class="btn btn-default">查询</button>

                    <button id="btnAdd" title="" class="btn btn-primary @DepartmentPermission.Department_Edit" type="button" data-original-title="新增功能" data-toggle="tooltip" data-widget="">
                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;新增
                    </button>
                    <button id="btnDelete" title="" class="btn btn-danger @DepartmentPermission.Department_DeleteMuti " type="button" data-original-title="删除功能" data-toggle="tooltip" data-widget="">
                        <i class="fa fa-times"></i>&nbsp;&nbsp;删除
                    </button>

                    @*<button id="btnScreenTop" type="button" class="btn btn-default">顶级查询</button>
                    <button id="btnAddRoot" class="btn btn-primary @DepartmentPermission.Department_Edit" type="button" data-original-title="新增顶级功能" data-toggle="tooltip" data-widget="">
                        <i class="fa fa-plus-square"></i>&nbsp;&nbsp;新增顶级
                    </button>*@
                </form>
            </div>
        </div>
        <div class="box box-primary  " style="padding-left:10px;padding-right:10px">
            <table id="table"
                   data-toolbar="#toolbar"
                   data-toggle="table"
                   data-height="660"
                   data-ajax="ajaxRequest"
                   data-side-pagination="server"
                   data-pagination="true"></table>
        </div>

    </div>
</div>
@*@Html.Partial("_Edit")*@
@section scripts{

    <script src="~/Views/Department/Index.js"></script>

}
